@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .table th {
        border-top: none;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="card-columns" id="printcard"></div>

<p id="output"></p>

@section Scripts {
    <script>
        var configId = uuidv4();
        var connection = new signalR.HubConnectionBuilder().withUrl('/stream').withAutomaticReconnect().build();

        connection.start().then(() => {
            connection.stream('Feed').subscribe({
                next: (data) => {
                    if (data.substring(0, 1) === '{')
                        processMsg(JSON.parse(data));
                    else
                        console.log(data);
                },
                error: (err) => console.error(err),
                complete: () => { }
            });

            var cmd = { "command": "GetQuery", "queryName": "GetHardwareDefinition", "arguments": "", "messageID": configId };

            connection.invoke('Request', JSON.stringify(cmd));
        }).catch((err) => console.error(err));
    </script>
}