name: Docker Image CI

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub Registry
      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Get the version
      id: vars      
      run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})
    - name: Build the tagged Docker image
      run: docker build . --file Dockerfile --tag mguinness/intellicentergateway:${{steps.vars.outputs.tag}} --tag mguinness/intellicentergateway:latest
    - name: Push the tagged Docker image
      run: docker push mguinness/intellicentergateway:${{steps.vars.outputs.tag}}
    - name: Push the latest Docker image
      run: docker push mguinness/intellicentergateway:latest
